@model EventManager3.Models.Events

@{
    ViewData["Title"] = "Artist Event Information:";
}
<h2>Read Events</h2>
<form action="/" method="post">
    Event Name: @Model.Name<br />
    Artist Name: @Model.ArtistName<br />
    Date and Time: @Model.Date<br />
    Location: @Model.Location<br />
    Genre: @Model.Genre<br />

</form>

<form asp-controller="Home" asp-action="Index" method="get">
    <br />
    <button>Go back</button>
</form>