@model EventManager3.Models.Events
@{
    ViewData["Title"] = "Update an Event:";
}
@inject UserManager<ApplicationUser> UserManager
<h3>Update Event:</h3>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="EventsID" value="@Model.EventsID" />
    <div>
        <div>Event Name<p><input type="text" name="Name" class="btn-lg" asp-for="Name" value="@Model.Name"></p></div>
        <span asp-validation-for="Name"></span>
        <input type="hidden" asp-for="ArtistName" value=@UserManager.GetUserName(User)>
        <div>Date and Time<p><input type="date" name="Date" class="btn-lg" asp-for="Date" value="@Model.Date"></p></div>
        <span asp-validation-for="Date"></span>
        <div>Location <p><input type="text" name="Location" class="btn-lg" asp-for="Location" value="@Model.Location" ></p></div>
        <span asp-validation-for="Location"></span>
        <div>Genre <p><input type="text" asp-for="Genre" value="@Model.Genre" /></p></div>
        <span asp-validation-for="Genre"></span>
    </div>

    <button>Update event</button>


</form>

<form asp-controller="Home" asp-action="Index" method="get">
    <button>Go back</button>
</form>