@{
    ViewData["Title"] = "Home Page";
}
<h2>Details</h2>
<form action="Create" method="get">
    <button class="btn btn-sm btn-default">Create Event</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag">Event</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag">Artist</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag">Genre</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag">Date</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag">Time</a>
            </th>
        </tr>
    </thead>
</table>
